services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: home-lib-app
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - appnet

  postgres:
    build:
      context: .
      dockerfile: DockerfileDb
    container_name: home-lib-db
    environment:
      POSTGRES_USER: St
      POSTGRES_PASSWORD: 123456
      POSTGRES_DB: home_library
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U St -d home_library"]
      interval: 5s
      timeout: 3s
      retries: 5
    networks:
      - appnet

networks:
  appnet:
    driver: bridge
